* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: bisque;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback_card{
    border: 1px solid black;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;


}

